﻿@model HelloTestWorld.Web.Models.ViewModels.StartPageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Startsida</title>
</head>
<body>
    <h1>@Model.StupidProp</h1>
    <div>
         @if(Model.ChildPages != null && Model.ChildPages.Any())
         {
             <ul>
                 @foreach(var page in Model.ChildPages)
                  {
                     <li><a href="@Url.ContentUrl(page.ContentLink)">@page.Name</a></li>
                  }
             </ul>
         }
    </div>
</body>
</html>
